<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <link rel="stylesheet" href="/css/editormd.css">
<!--    <link rel="stylesheet" href="//at.alicdn.com/t/font_1758372_iu83tgg8gw.css">-->
<!--    <script src="/js/plugins/image-dialog/image-dialog.js" ></script>-->
    <script src="/js/image-dialog/image-dialog.js" ></script>
    <script src="/js/jquery-3.5.1.min.js"></script>
<!--    <script src="/js/bootstrap.min.js" ></script>-->
<!--    <script src="/js/community.js"  ></script>-->
<!--    <script src="/js/editormd.min.js" ></script>-->

<!--    <script src="/js/jquery-3.4.1.min.js"></script>-->
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <script src="/js/editormd.min.js" type="application/javascript"></script>




</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <!--                测试：style="background-color:red;height: 300px-->
        <div class="col-lg-9 col-md-12 col-xs-12">
            <h2><span class="glyphicon  glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <hr>
            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">问题标题（简单扼要）</label>
                    <input type="text" class="form-control" th:value="${title}" id="title" name="title"
                           placeholder="问题标题" autocomplete="off">
                </div>

                <div class="form-group" id="question-editor">
                    <label for="description">问题补充（必填，请参考右侧提示）</label>
                    <!--                            文本输入框,加了class="form-control"，就有了样式哦-->Z
                    <textarea name="description" id="description" class="form-control"  style="display:none;"
                              th:text="${description}"
                              cols="30"
                              rows="10"></textarea>
                </div>
                <script type="text/javascript">
                    $(function() {
                        var editor = editormd("question-editor", {
                            width  : "100%",
                            height : 350,
                            path   : "/js/lib/",
                            delay  : 0,
                            watch  : false,
                            placeholder : "请输入内容",
                            imageUpload    : true,
                            imageFormats   : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                            imageUploadURL : "/file/upload",
                        });
                    });
                </script>

                <!--标签-->
                <div class="form-group">
                    <label for="tag">添加标签</label>
                    <input type="text" class="form-control"  th:value="${tag}" id="tag" name="tag" autocomplete="off"
                           placeholder="输入标签，以英文逗号分隔" onclick="showSelectTag()">
<!--                    标签库-->
                    <div id="select-tag"  class="publish-tag-tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" th:each="selectCategory:${tags}"
                                th:class="${selectCategoryStat.first ? 'active tab-pane':'tab-pane'}"
                            >
                                <a th:href="${'#'+selectCategory.categoryName}" aria-controls="home" role="tab"
                                                                      data-toggle="tab" th:text="${selectCategory.categoryName}"></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel"  th:id="${selectCategory.categoryName}"
                                 th:each="selectCategory:${tags}"
                                 th:class="${selectCategoryStat.first ? 'active tab-pane':'tab-pane'}">
                                <span><span class="label label-info" th:each="selectTag:${selectCategory.tags}">
                                    <span class="glyphicon glyphicon-tags" onclick="selectTag(this)"
                                          th:data-tag="${selectTag}"
                                          th:text="${' '+selectTag}"></span>
                                </span></span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="container-fluid main">
                    <div calss="row">
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <div class="alert alert-success col-lg-12 col-md-12 col-xs-12"
                                 th:text="${error}"
                                 th:if="${error!=null}">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12  ">
                            <button type="submit" class="btn btn-success btn-publish ">提交</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3  col-md-12 col-xs-12">
            <h3>Question Guide</h3>
            Question supplement:<br>
            1.supplement the content of your question in detail, and provide some related materials for participants to
            know more about the theme of your question.<br>
            2.Select topic: select one or more appropriate topics to let more people with the same interests participate
            in your post.<br>
            3.Everyone can add and edit the topic to which the question belongs after you publish the question.<br>
            4.About points: asking a question will cost you 20 points, and you will get 5 points for each additional
            reply.<br>
        </div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>
